---
import { PencilSquareIcon } from '@heroicons/react/24/outline';
import type { Note } from '@/types';

interface Props {
  note: Partial<Note>;
  index?: number;
}

const { note } = Astro.props;
const { path, frontmatter } = note;
const lineColor = 'white';
const bgColor = 'black';
---

<a
  data-cy={`topic-card-${frontmatter!.title}`}
  href={`/notes/${path!}`}
  class="group relative"
>
  <div
    class={`absolute bottom-0 h-full w-full rounded border-2 border-${lineColor} bg-${bgColor}`}
  >
  </div>
  <div
    title={frontmatter!.title}
    class={`flex transform-gpu justify-between rounded border-2 border-${lineColor} bg-black p-4 transition group-hover:-translate-x-1 group-hover:-translate-y-1`}
  >
    <div class={`text-${lineColor} w-2/3 truncate font-bold capitalize`}>
      {frontmatter!.title}
    </div>
    <PencilSquareIcon className={`h-6 w-6 fill-${bgColor} stroke-${lineColor}`}
    />
  </div>
</a>
