---
import { Folder } from "lucide-react";
import type { Topic } from "@/types";

interface Props {
  topic: Topic;
}

const { topic } = Astro.props;
const { name, path, color } = topic;

const bgColorMap: Record<string, string> = {
  yellow: "bg-yellow-400",
  cyan: "bg-cyan-400",
  pink: "bg-pink-400",
};

const borderClass = color ? "border-black" : "border-white";
const shadowBgClass = color ? "bg-white" : "bg-black";
const fgBgClass = color ? (bgColorMap[color] ?? "bg-black") : "bg-black";
const textClass = color ? "text-black" : "text-white";
const fillClass = color ? "fill-white" : "fill-black";
const strokeClass = color ? "stroke-black" : "stroke-white";
---

<a
  data-cy={`topic-card-${name.toLowerCase()}`}
  href={`/${path.toLowerCase()}`}
  class="group relative"
>
  <div
    class={`absolute bottom-0 h-full w-full rounded border-2 ${borderClass} ${shadowBgClass}`}
  >
  </div>
  <div
    class={`flex transform-gpu justify-between rounded border-2 ${borderClass} ${fgBgClass} p-4 transition group-hover:-translate-x-1 group-hover:-translate-y-1`}
  >
    <div class={`${textClass} font-bold capitalize`}>{name}</div>
    <Folder className={`h-6 w-6 ${fillClass} ${strokeClass}`} />
  </div>
</a>
