---
import { FolderIcon } from '@heroicons/react/24/outline';
import type { Topic } from '@/types';

interface Props {
  topic: Topic;
}

const { topic } = Astro.props;
const { name, path, color } = topic;
const lineColor = color ? 'black' : 'white';
const bgColor = color ? 'white' : 'black';
---

<a
  data-cy={`topic-card-${name.toLowerCase()}`}
  href={`/${path.toLowerCase()}`}
  class="group relative"
>
  <div
    class={`absolute bottom-0 h-full w-full rounded border-2 border-${lineColor} bg-${bgColor}`}
  >
  </div>
  <div
    class={`flex transform-gpu justify-between rounded border-2 border-${lineColor} bg-${color ? `${color}-400` : 'black'} p-4 transition group-hover:-translate-x-1 group-hover:-translate-y-1`}
  >
    <div class={`text-${lineColor} font-bold capitalize`}>{name}</div>
    <FolderIcon className={`h-6 w-6 fill-${bgColor} stroke-${lineColor}`} />
  </div>
</a>
