---
import BaseLayout from '@/layouts/BaseLayout.astro';

const projects = [
  {
    title: 'SmartScout',
    description:
      'Precision Planting SmartScout is an app that uses machine vision and augmented reality to automatically assess emergence and plant spacing in a 3D space.',
    href: '/projects/smartscout',
    logo: '/projects/smartscout-icon-1.webp',
  },
  {
    title: 'blono.dev',
    description:
      'blono.dev is a website for Bloomington-Normal Developers, a local developer community in Central Illinois. Built with Next.js and Tailwind CSS.',
    href: '/projects/blono-dev',
    logo: '/projects/blono-dev-icon-1.svg',
  },
];
---

<BaseLayout title="Projects - Andrew Gilliland">
  <div class="px-8">
    <section class="mx-auto mt-20 max-w-[60ch]">
      <h1
        class="stroke-white text-3xl font-bold capitalize text-gray-100 md:text-4xl"
      >
        My Projects
      </h1>
      <p class="mt-10 text-gray-300">
        Explore some of the work I&apos;ve built and contributed to.
      </p>
    </section>

    <section class="mx-auto mt-10 max-w-[60ch]">
      <div class="grid gap-6">
        {
          projects.map(({ href, title, description, logo }) => (
            <a
              class="group relative min-w-[240px]"
              href={href}
              title={title}
            >
              <div class="absolute bottom-0 h-full w-full rounded border-2 border-white bg-black" />
              <div class="transform-gpu rounded border-2 border-white bg-black p-4 transition group-hover:-translate-x-1 group-hover:-translate-y-1">
                {logo && (
                  <img
                    src={logo}
                    alt={`${title} logo`}
                    class="mb-4 h-12 w-12 rounded-sm object-contain"
                    width="48"
                    height="48"
                  />
                )}
                <h4 class="font-bold text-white">{title}</h4>
                <p class="mt-2 text-gray-300">{description}</p>
              </div>
            </a>
          ))
        }
      </div>
    </section>
  </div>
</BaseLayout>
