---
import BaseLayout from "@/layouts/BaseLayout.astro";
import SectionHeader from "@/components/SectionHeader.astro";
import CardLink from "@/components/CardLink.astro";

const projects = [
  {
    title: "SmartScout",
    description:
      "Precision Planting SmartScout is an app that uses machine vision and augmented reality to automatically assess emergence and plant spacing in a 3D space.",
    href: "/projects/smartscout",
    logo: "/projects/smartscout-icon-1.webp",
  },
  {
    title: "blono.dev",
    description:
      "blono.dev is a website for Bloomington-Normal Developers, a local developer community in Central Illinois. Built with Next.js and Tailwind CSS.",
    href: "/projects/blono-dev",
    logo: "/projects/blono-dev-icon-1.svg",
  },
];
---

<BaseLayout title="Projects - Andrew Gilliland">
  <div class="mx-auto mt-14 min-h-screen w-full max-w-3xl px-8">
    <SectionHeader title="Projects" />
    <section class="grid grid-cols-1 gap-8 sm:grid-cols-2">
      {
        projects.map(({ href, title, description, logo }, index) => (
          <article class={index === 0 ? "sm:col-span-2" : ""}>
            <CardLink
              href={href}
              class={index === 0 ? "min-h-[280px]" : "min-h-[220px]"}
            >
              <div class="flex h-full grow flex-col space-y-2 p-6">
                {logo && (
                  <img
                    src={logo}
                    alt={`${title} logo`}
                    class="h-12 w-12 rounded-sm object-contain"
                    width="48"
                    height="48"
                  />
                )}
                <h2 class="flex-none text-2xl leading-tight">{title}</h2>
                <p class="text-gray-400">{description}</p>
                <div class="flex-1" />
              </div>
            </CardLink>
          </article>
        ))
      }
    </section>
  </div>
</BaseLayout>
